{% extends "base.html" %}
{% block content %}
{% if user.is_superuser %}
<a class ="btn btn-outline-primary my-2" href="{% url 'list_agent' %}">Go to back</a>
<hr/>
<h1 class="list my-3">List Agent</h1>


<table class="table table-dark table-hover table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name </th>
      <th scope="col">Surname </th>
        <th scope="col">Job</th>
      <th scope="col">Phone</th>
        <th scope="col">Age</th>
         <th scope="col">date_added</th>
        <th scope="col">email</th>
        <th scope="col">Detail</th>
    </tr>
  </thead>
{% for agent in object_list %}

  <tbody>
    <tr>
      <th scope="row">{{ agent.pk }}</th>
       <td>{{ agent.first_name }}</td>
      <td>{{ agent.last_name }}</td>
        {% if agent.is_front_agent %}
        <td>front_agent</td>
         {% else %}
         <td>beck_agent</td>
       {% endif %}
        <td>{{ agent.phone_number }}</td>
        <td>{{ agent.age }}</td>
        <td>{{ agent.date_added }}</td>
        <td>{{ agent.email }}</td>
        <td><a href="{% url 'detail_agent' agent.pk %}">More</a></td>
    </tr>
  </tbody>


{% endfor %}
</table>
{% endif %}
{% endblock %}