{% extends "base.html" %}

{% block content %}

<a class ="btn btn-outline-primary my-2" href="{% url 'list_problem' %}">Go to back</a>
<hr/>

<h1 class="list my-4">List Problem</h1>

<table class="table table-dark table-hover table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Owner Name </th>
      <th scope="col">Owner Surname </th>
      <th scope="col">Owner patronymic</th>
      <th scope="col">status</th>
      <th scope="col">date_added </th>
      <th scope="col">category</th>
        <th scope="col">Detail</th>
    </tr>
  </thead>
{% for problem in object_list %}

  <tbody>
    <tr>
      <th scope="row">{{ problem.pk }}</th>
      <td>{{ problem.client.first_name }}</td>
      <td>{{ problem.client.last_name }}</td>
      <td>{{ problem.client.patronymic }}</td>
      <td>{{ problem.status }}</td>
      <td>{{ problem.date_added }}</td>
      <td>{{ problem.category.title }}</td>
        <td><a href="{% url  'update_problem' problem.pk  %}">More</a></td>
    </tr>
  </tbody>


{% endfor %}
</table>

{% endblock %}